**  Import  Packages **

In [81]:
import pandas as pd
import boto3
import json

In [82]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

**Created Iam user *dwhadmin* with Administratoraccess- using access key and security key for this user - which are saved in dwh.cfg**

**Step 1: Loading Params from config File**

In [83]:
import configparser

CONFIG_FILE = 'dwh.cfg'
config = configparser.ConfigParser()
config.read(CONFIG_FILE)

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')
REGION                 = config.get('AWS','REGION')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("IAM", "IAM_ROLE_NAME")


(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0  DWH_CLUSTER_TYPE        multi-node
1  DWH_NUM_NODES           4
2  DWH_NODE_TYPE           dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4  DWH_DB                  dwh
5  DWH_DB_USER             dwhuser
6  DWH_DB_PASSWORD         Passw0rd
7  DWH_PORT                5439
8  DWH_IAM_ROLE_NAME       dwhRole

**Step 2: Create Clients EC2,S3,Iam,redshift**

In [84]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name=REGION,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name=REGION,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name=REGION
                  )

redshift = boto3.client('redshift',
                       region_name=REGION,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

**Step 3: Create IAM role**

In [ ]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

**Step 4:  Create Redshift Cluster**

In [86]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

**Step 5: check cluster status**

In [95]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cyykhmjy5iv3.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-022b95b2f2aba6b9b
7,NumberOfNodes,4

**Step 6: get endpoint and roleARN**

In [ ]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

**Step 6.1:  update ROLE ARN, END POINT in config file**

In [92]:
config.set("IAM","ROLE_ARN", DWH_ROLE_ARN)
with open('dwh.cfg', "w+") as configfile:config.write(configfile)

In [93]:
config.set("DWH","DWH_ENDPOINT", DWH_ENDPOINT)
with open('dwh.cfg', "w+") as configfile:config.write(configfile)

**Step 7: connect to Redhsift cluster created.**

In [97]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cyykhmjy5iv3.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

**Step 8: create required tables**

In [99]:
!python3 create_tables.py

### Validation: Check if Tables are created

In [100]:
%%sql 
SELECT table_schema, table_name, table_type
FROM information_schema.tables 
WHERE table_schema = 'public'
ORDER BY table_name

 * postgresql://dwhuser:***@dwhcluster.cyykhmjy5iv3.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('public', 'artists', 'BASE TABLE'),
 ('public', 'songplays', 'BASE TABLE'),
 ('public', 'songs', 'BASE TABLE'),
 ('public', 'staging_events', 'BASE TABLE'),
 ('public', 'staging_songs', 'BASE TABLE'),
 ('public', 'time', 'BASE TABLE'),
 ('public', 'users', 'BASE TABLE')]

**Step 9: Now that the tables are created - Start ETL process**

In [101]:
!python3 etl.py

**Step 10 : Validations/ checks after ETL process**   
*optional*   
**10.1 check if the data has been loaded into staging tables sucessfully**

In [104]:
%%sql
SELECT 'staging_events' AS table_name, 
		COUNT(*) AS record_count 
FROM staging_events
UNION ALL 
SELECT 'staging_songs' AS table_name, 
		COUNT(*) AS record_count 
FROM staging_songs

 * postgresql://dwhuser:***@dwhcluster.cyykhmjy5iv3.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('staging_events', 8056), ('staging_songs', 14896)]

**Step 10 : Validations/ checks after ETL process**  
*optional*    
 **10.2 check if the data has been loaded into fact/Dim tables sucessfully**

In [105]:
%%sql 
SELECT 'artists' AS table_name, 
		COUNT(*) AS record_count 
FROM artists
UNION ALL 
SELECT 'songplays' AS table_name, 
		COUNT(*) AS record_count 
FROM songplays
UNION ALL 
SELECT 'songs' AS table_name, 
		COUNT(*) AS record_count 
FROM songs
UNION ALL 
SELECT 'time' AS table_name, 
		COUNT(*) AS record_count 
FROM time
UNION ALL 
SELECT 'users' AS table_name, 
		COUNT(*) AS record_count 
FROM users
ORDER BY table_name

 * postgresql://dwhuser:***@dwhcluster.cyykhmjy5iv3.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('artists', 10025),
 ('songplays', 333),
 ('songs', 14896),
 ('time', 8023),
 ('users', 105)]

 **Step 10.3 display records to verify data**  
*optional*

In [106]:
%%sql 
SELECT artist, firstname,lastname,page,song 
FROM staging_events 
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cyykhmjy5iv3.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Miami Horror', 'Kate', 'Harrell', 'NextSong', 'Sometimes'),
 ('The White Stripes', 'Kate', 'Harrell', 'NextSong', 'My Doorbell (Album Version)'),
 ('Juan Carmona', 'Kate', 'Harrell', 'NextSong', 'Panales de Algodon'),
 ('Alison Krauss / Union Station', 'Kate', 'Harrell', 'NextSong', 'Restless'),
 ('Bullet For My Valentine', 'Kate', 'Harrell', 'NextSong', 'Begging For Mercy')]

In [107]:
%%sql 
SELECT artist_name,title,duration,year
FROM staging_songs 
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cyykhmjy5iv3.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Nasty Savage', 'Hypnotic Trance', 280.37179, 1987),
 ('Dale Warland Singers', 'The Hour Glass: Lament', 133.53751, 0),
 ('Trick Daddy', "Take It To Da House (Featuring The Slip N' Slide Express) (Super Clean Album Version)", 227.10812, 2001),
 ('Deadlock', 'We Shall All Bleed', 364.56444, 0),
 ('Chris Isaak', 'Waiting For My Lucky Day (LP Version)', 158.06649, 1996)]

 **Step 10.4 dispaly records from one of the main tables**
*optional*

In [108]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cyykhmjy5iv3.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 7, 0, 1, 16, 796000), 0, 7, 45, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 7, 0, 5, 26, 796000), 0, 7, 45, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 7, 0, 9, 27, 796000), 0, 7, 45, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 7, 0, 14, 58, 796000), 0, 7, 45, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 7, 0, 17, 49, 796000), 0, 7, 45, 11, 2018, '3')]

In [109]:
%sql SELECT * FROM artists  LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cyykhmjy5iv3.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARBJ3VU1187B9B472D', 'Love Of Lesbian', '', None, None),
 ('ARUSOMY1187FB4D3B4', 'Anti-Flag', 'Pittsburgh, PA', None, None),
 ('ARABEE51187FB572FE', 'Pastor Troy', 'kjsdfsg, New Hampshire', Decimal('44.001179'), Decimal('-71.634200')),
 ('AR4VMUU1187FB3BA5D', 'West Indian Girl', 'Los Angeles, CA', Decimal('34.053489'), Decimal('-118.245320')),
 ('ARTSO3M1187B9ABEA4', 'Benjamin Biolay', '', None, None)]

In [110]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cyykhmjy5iv3.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(97, 'Kate', 'Harrell', 'F', 'paid'),
 (63, 'Ayla', 'Johnson', 'F', 'free'),
 (55, 'Martin', 'Johnson', 'M', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (9, 'Wyatt', 'Scott', 'M', 'free')]

In [111]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cyykhmjy5iv3.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 7, 0, 1, 16, 796000), 0, 7, 45, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 7, 0, 5, 26, 796000), 0, 7, 45, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 7, 0, 9, 27, 796000), 0, 7, 45, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 7, 0, 14, 58, 796000), 0, 7, 45, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 7, 0, 17, 49, 796000), 0, 7, 45, 11, 2018, '3')]

### Analytical Queries
*optional*

### 1. which song is top most played

In [88]:
%%sql
SELECT       s.title as song,
       COUNT(*) as num_of_times_played
FROM songplays sp
JOIN songs s ON sp.song_id = s.song_id
JOIN artists a ON sp.artist_id = a.artist_id
GROUP BY s.title, a.name
ORDER BY num_of_times_played DESC
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cyykhmjy5iv3.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[("You're The One", 37),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 9),
 ("I CAN'T GET STARTED", 9),
 ("Nothin' On You [feat. Bruno Mars] (Album Version)", 8),
 ("Hey Daddy (Daddy's Home)", 6),
 ('Up Up & Away', 5),
 ('Make Her Say', 5),
 ('Mr. Jones', 4),
 ('Supermassive Black Hole (Album Version)', 4),
 ('Unwell (Album Version)', 4)]

### 2. what are the top 10 songs users chose?

In [112]:
%%sql
SELECT s.title as song,
       a.name as aritist,
       COUNT(*) as num_of_times_played
FROM songplays sp
JOIN songs s ON sp.song_id = s.song_id
JOIN artists a ON sp.artist_id = a.artist_id
GROUP BY s.title, a.name
ORDER BY num_of_times_played DESC
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cyykhmjy5iv3.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[("You're The One", 'Dwight Yoakam', 37),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Lonnie Gordon', 9),
 ("I CAN'T GET STARTED", 'Ron Carter', 9),
 ("Nothin' On You [feat. Bruno Mars] (Album Version)", 'B.o.B', 8),
 ("Hey Daddy (Daddy's Home)", 'Usher featuring Jermaine Dupri', 6),
 ('Make Her Say', 'Kid Cudi / Kanye West / Common', 5),
 ('Up Up & Away', 'Kid Cudi / Kanye West / Common', 5),
 ('Supermassive Black Hole (Album Version)', 'Muse', 4),
 ('Mr. Jones', 'Counting Crows', 4),
 ('Unwell (Album Version)', 'matchbox twenty', 4)]

### 3. which weekday are songs being played most?

In [95]:

%%sql
SELECT decode(t.weekday, 
              1,'SUNDAY',
              2,'MONDAY',
              3,'TUESDAY',
              4,'WEDNESDAY',
              5,'THURSDAY',
              6,'FRIDAY',
              7,'SATURDAY') as weekday,
            
              COUNT(*) as total_songs_played
FROM songplays sp
JOIN time t ON sp.start_time = t.start_time
GROUP BY t.weekday
ORDER BY total_songs_played DESC
LIMIT 6;

 * postgresql://dwhuser:***@dwhcluster.cyykhmjy5iv3.us-west-2.redshift.amazonaws.com:5439/dwh
6 rows affected.

[('WEDNESDAY', 65),
 ('SUNDAY', 62),
 ('TUESDAY', 61),
 ('THURSDAY', 53),
 ('MONDAY', 45),
 ('FRIDAY', 31)]

### 4. what hour of day the user play songs most?

In [96]:
%%sql
SELECT t.hour,
       COUNT(*) as total_songs_played
FROM songplays sp
JOIN time t ON sp.start_time = t.start_time
GROUP BY t.hour
ORDER BY total_songs_played DESC
LIMIT 2;

 * postgresql://dwhuser:***@dwhcluster.cyykhmjy5iv3.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(17, 40), (18, 26)]

### 5. who is our top artist?

In [99]:
%%sql
SELECT   a.name as aritist,
        COUNT(*) as num_of_times_played
FROM songplays sp
JOIN songs s ON sp.song_id = s.song_id
JOIN artists a ON sp.artist_id = a.artist_id
GROUP BY s.title, a.name
ORDER BY num_of_times_played DESC
LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.cyykhmjy5iv3.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('Dwight Yoakam', 37)]

 Clean Up Resources

In [100]:
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.cyykhmjy5iv3.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2024, 9, 29, 14, 8, 31, 62000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-0113634333cf46bca',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-022b95b2f2aba6b9b',
  'AvailabilityZone': 'us-west-2b',
  'PreferredMaintenanceWindow': 'sun:11:00-sun:11:30',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::516398325155:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': 'a07beddf-0f14-4876-8e74-defc5372f1e3',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'a07beddf-0f14-4876-8e74-defc5372f1e3',
   'content-type': 'text/xml',
   'content-length': '2882',
   'date': 'Sun, 29 Sep 2024 15:06:34 GMT'},
  'RetryAttempts': 0}}

 check if redshift cluster is in deletion process?

In [108]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

ClusterNotFoundFault: An error occurred (ClusterNotFound) when calling the DescribeClusters operation: Cluster dwhcluster not found.

 delete all created resources

In [110]:

iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)

NoSuchEntityException: An error occurred (NoSuchEntity) when calling the DetachRolePolicy operation: The role with name dwhRole cannot be found.